<div>
    TIME
</div>
Enter any years from 1927 - 2016
<form method="POST">
    Start:<br />
    <input maxlength="4" name="startYear" />
    <br />
    End:<br />
    <input maxlength="4" name="endYear" />
    <br />
    <br />
    <button type="submit">Submit</button>
</form>